<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
      }

      h1 {
        color: #007BFF;
      }

      form {
        margin-top: 20px;
      }

      label {
        display: block;
        margin-bottom: 8px;
        color: #007BFF;
      }

      input[type="text"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        box-sizing: border-box;
      }

      button {
        background-color: #007BFF;
        color: #fff;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
      }

      button:hover {
        background-color: #0056b3;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }

      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: #007BFF;
        color: #fff;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>URL Shortener</h1>
    <% if (locals.id) { %>
    <p>URL Generated: http://localhost:8001/url/<%= id %></p>
    <% } %>

    <div>
      <form method="POST" action="/url/user">
        <label>Enter Your Original URL</label>
        <input type="text" name="url" placeholder="https://example.com" />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
      <% if (locals.urls) { %>
      <table>
        <thead>
          <th>S. No</th>
          <th>ShortID</th>
          <th>Redirect</th>
          <th>Clicks</th>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectURL %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
